---
title: "Verification"
description: 4

---

After synchronizing the **SceneKitDemo** project, click the **Run App** icon to run the Android Studio project to generate the APK and install it on the test phone.

<div style="padding: 5px">
    <img style="width: 100.00px ; padding: 5px" src="https://raw.githubusercontent.com/ZehraYilmaz/gh-pages-scenekitcodelab/main/assets/scenekit_codelab_doc_ss_3.png">
</div>

After launching the app, you'll see the following screen:

<div style="padding: 5px">
    <img style="width: 100.00px ; padding: 5px" src="https://raw.githubusercontent.com/ZehraYilmaz/gh-pages-scenekitcodelab/main/assets/scenekit_codelab_doc_ss_3.png"></div>

Tapping **Wear Mask-FaceView**, and **Furniture Choice-ARView** buttons will show you the following rendering effects, respectively:

**Wear Mask-FaceView**:

<div style="padding: 5px">
    <img style="width: 100.00px ; padding: 5px" src="https://raw.githubusercontent.com/ZehraYilmaz/gh-pages-scenekitcodelab/main/assets/scene_kit_codelab_app_ss_1.jpg">
    <img style="width: 100.00px ; padding: 5px" src="https://raw.githubusercontent.com/ZehraYilmaz/gh-pages-scenekitcodelab/main/assets/scene_kit_codelab_app_ss_2.png">
    <img style="width: 100.00px ; padding: 5px" src="https://raw.githubusercontent.com/ZehraYilmaz/gh-pages-scenekitcodelab/main/assets/scene_kit_codelab_app_ss_3.png">
</div>
**Furniture Choice-ARView**:

<div style="padding: 5px"> 
    <img style="width: 100.00px ; padding: 5px" src="https://raw.githubusercontent.com/ZehraYilmaz/gh-pages-scenekitcodelab/main/assets/scene_kit_codelab_app_ss_4.png">
    <img style="width: 100.00px ; padding: 5px" src="https://raw.githubusercontent.com/ZehraYilmaz/gh-pages-scenekitcodelab/main/assets/scene_kit_codelab_app_ss_5.png">
</div>
